@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

*{
    margin: 0px;
    padding: 0;
}
h3{
    font-family: 'Joan', serif;
}
table{
    margin: auto;
    border-spacing: 10px;
}
.grafik{
    text-align: center;
    width: 600px;

}
